@import "materialize/components/color-variables";
$primary-color: color("teal", "lighten-1") !default;
$secondary-color: color("light-blue", "lighten-1") !default;
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.sign-up-form {
  padding-top: 28px;
}
